@{
    ViewData["Title"] = "Онлайн-Опрос";
}
<h1 class="display-2 text-center">@ViewData["Title"]</h1>

<p class="text-center">
    Пройдите анкету о качестве условий осуществления образовательной
    деятельности.
</p>
<div>
    <canvas id="myChart" width="400" height="400"></canvas>
</div>