/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.demo-layout-transparent {
    background: url('../img/fonBackCity.webp');
    background-position: center center;
    background-size:cover;
}

 .demo-layout-transparent .mdl-layout__header,
 .demo-layout-transparent .mdl-layout__drawer-button {
        /* This background is dark, so we set text to white. Use 87% black instead if
        your background is light. */
        color: white;
 }

.nav-own-link{
    position :relative;
    color: black;
}

.nav-own-link:hover{
    color:white;
}

.nav-own-link::after {
    content: ' ';
    display:block;
    position: absolute;
    z-index: -1;
    top: 100%;
    left: -2px;
    padding: 0 2px;
    width: calc(100% + 2px);
    height: 1px;
/*    border-bottom: 1px solid black;*/
    transition: 0.4s;
    border-radius:7px;
}

.nav-own-link:hover::after {
    top: 0;
    height: 100%;
    background-color: rgb(2 56 116);
    border-color: transparent;
}

.our-title{
    color:black;
}

.mdl-layout__drawer-button{
    color:black !important;
}


.demo-card-square.mdl-card {
    width: 320px;
    height: 350px;
}

.demo-card-square-feed.mdl-card {
    width: 60%;
    height: 550px;
}

.demo-card-square > .mdl-card__title {
    color: black;

/*    background: url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;*//*    background: url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;*/
background-repeat: no-repeat;
background-position: center center;
background-size: 65%;

}

.card__title-1{
    background-image: url('../img/target.svg');
}

.card__title-2 {
    background-image: url('../img/data1.svg');
}

.card__title-3 {
    background-image: url('../img/Advantage.svg');
}

.card-own-general{
    align-items:center;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}