
@{
    ViewData["Title"] = "Index";
}

<form class="container m-5">
    <div class="demo-card-square-anketa mdl-card mdl-shadow--2dp card-own-general">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <ul class="demo-list-item mdl-list m-auto">
                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            При посещении образовательной организации обращались ли Вы к информации о ее деятельности, размещенной на информационных стендах в помещениях организации?
                        </span>

                    </li>
                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Была ли информация на стендах полезной?
                        </span>
                    </li>

                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Использовали ли Вы эту информацию в дальнейшем?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Была ли эта информация актуальна?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Обратились бы Вы к стенду еще раз для получения какой-либо информации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удобно ли ориентироваться на стенде в поисках нужной информации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Много ли лишней информации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Пользовались ли Вы официальным сайтом образовательной организации, чтобы получить информацию о ее деятельности?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Была ли информация на сайте полезной?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Использовали ли Вы эту информацию в дальнейшем?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>




                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Была ли эта информация актуальна?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Обратились бы Вы к сайту еще раз для получения какой-либо информации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удобно ли ориентироваться на сайте в поисках нужной информации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Много ли лишней информации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Ваша форма обучения?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Как вы адаптировались к новым условиям дистанционного обучения?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Происходит ли своевременное информирование вас об изменениях в процессе дистанционного обучения
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удобно ли вам обучаться в дистанционном режиме?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли вы процессом обучения в дистанционном режиме?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удобно ли вам было пользоваться Электронной образовательной средой?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Из каких образовательных порталов и источников вы получаете задания по дисциплинам?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            В какие образовательное порталы и источники вы отправляете выполненные работы?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Как вы оцениваете работу преподавательского состава в рамках дист. Обучения?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            С какими трудностями вы столкнулись в процессе дистанционного обучения?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Какие преимущества электронного обучения на данный момент наиболее важны для Вас?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Пользовались ли Вы какими-либо дистанционными способами взаимодействия с образовательной организацией (телефон, электронная почта, электронный сервис (форма для подачи электронного обращения

                            (жалобы, предложения), получение консультации по оказываемым образовательным услугам), раздел «Часто задаваемые вопросы», анкета для опроса граждан на сайте и прочие)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Пользовались ли Вы в образовательной организации какими-либо образовательными услугами с использованием электронного обучения и дистанционных образовательных технологий?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы доступностью информации на стендах?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы полнотой информации на стендах?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы открытостью информации на стендах?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Пользовались ли Вы официальным сайтом образовательной организации, чтобы получить информацию о ее деятельности?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы доступностью информации на сайтах?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы полнотой информации на сайтах?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы открытостью информации на сайтах?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы комфортностью условий предоставления образовательных услуг в организации (обеспечение в организации комфортных условий, в которых осуществляется образовательная деятельность: наличие зоны отдыха (ожидания); наличие и понятность навигации внутри организации; наличие и доступность питьевой воды; наличие и доступность санитарно-гигиенических помещений; санитарное состояние помещений организации)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы зоной отдыха (ожидания)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием и доступностью питьевой воды?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием и доступностью санитарно-гигиенических помещений?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы транспортной доступностью (возможностью доехать до организации на общественном транспорте, наличие парковки)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы доброжелательностью и вежливостью работников образовательной организации, обеспечивающих первичный контакт с посетителями и информирование об услугах при непосредственном обращении в организацию (работники приемной комиссии, секретариата, учебной части)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы доброжелательностью и вежливостью работников образовательной организации, обеспечивающих непосредственное оказание образовательной услуги при обращении в организацию (преподаватели, воспитатели, тренеры, инструкторы)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы оборудованием входных групп пандусами (подъемными платформами);
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием выделенных стоянок для автотранспортных средств инвалидов;
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием адаптированных лифтов, поручней, расширенных дверных проемов;
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличие сменных кресел-колясок;
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием специально оборудованных санитарно-гигиенических помещений в организации
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы дублированием для инвалидов по слуху и зрению звуковой и зрительной информации
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы дублированием надписей, знаков и иной текстовой и графической информации знаками, выполненными рельефно-точечным шрифтом Брайля
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы дублированием надписей, знаков и иной текстовой и графической информации знаками, выполненными рельефно-точечным шрифтом Брайля;
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием альтернативной версии сайта организации для инвалидов по зрению
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы помощью, оказываемой работниками организации, прошедшими необходимое обучение (инструктирование) по сопровождению инвалидов в помещениях организации и на прилегающей территории
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием возможности предоставления образовательных услуг в дистанционном режиме или на дому
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Готовы ли Вы рекомендовать данную образовательную организацию родственникам и знакомым (или могли бы Вы ее рекомендовать, если бы была возможность выбора образовательной организации)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы в целом условиями оказания образовательных услуг в образовательной организации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Ваши предложения по улучшению условий оказания образовательных услуг в данной образовательной организации:
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Ваш пол
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Ваш возраст (укажите сколько Вам полных лет):
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Ваш возраст (укажите сколько Вам полных лет):
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Укажите направление подготовки (специальность), по которому(ой) Вы обучаетесь в образовательной организации:
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Укажите номер Вашего студенческого билета/удостоверения аспиранта/название группы/докторанта или слушателя программ дополнительного профессионального образования:
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Укажите Ваш адрес электронной почты
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" name="radio-group" checked>
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" name="radio-group" checked>
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" name="radio-group" checked>
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                </ul>

            </div>
        </div>
    </div>
</form>
