
@{
    ViewData["Title"] = "Index";
}

<form class="container m-5" asp-action="Submit">
    <div class="demo-card-square-anketa mdl-card mdl-shadow--2dp card-own-general">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <ul class="demo-list-item mdl-list m-auto">
                    <li class="mdl-list__item m-5">

                        <span class="mdl-list__item-primary-content text-center">
                            При посещении образовательной организации обращались ли Вы к информации о ее деятельности, размещенной на информационных стендах в помещениях организации?
                        </span>

                    </li>
                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop1" value="1">
                            <label for="vop1">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop2" value="0.5">
                            <label for="vop2">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop3" value="0">
                            <label for="vop3">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Была ли информация на стендах полезной?
                        </span>
                    </li>

                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop4" value="1">
                            <label for="vop4">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop5" value="0.5">
                            <label for="vop5">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop6" value="0">
                            <label for="vop6">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Использовали ли Вы эту информацию в дальнейшем?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop7" value="1">
                            <label for="vop7">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop8" value="0.5">
                            <label for="vop8">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop9" value="0">
                            <label for="vop9">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Была ли эта информация актуальна?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop10" value="1">
                            <label for="vop10">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop11" value="0.5">
                            <label for="vop11">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop12" value="0">
                            <label for="vop12">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Обратились бы Вы к стенду еще раз для получения какой-либо информации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop13" value="1">
                            <label for="vop13">Да</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop14" value="0">
                            <label for="vop14">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удобно ли ориентироваться на стенде в поисках нужной информации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop15" value="1">
                            <label for="vop15">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop16" value="0.5">
                            <label for="vop16">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop17" value="0">
                            <label for="vop17">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Много ли лишней информации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop18" value="1">
                            <label for="vop18">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop19" value="0.5">
                            <label for="vop19">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop20" value="0">
                            <label for="vop20">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Пользовались ли Вы официальным сайтом образовательной организации, чтобы получить информацию о ее деятельности?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop21" value="1">
                            <label for="vop21">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop22" value="0.5">
                            <label for="vop22">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop23" value="0">
                            <label for="vop23">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Была ли информация на сайте полезной?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop24" value="1">
                            <label for="vop24">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop25" value="0.5">
                            <label for="vop25">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop26" value="0">
                            <label for="vop26">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Использовали ли Вы эту информацию в дальнейшем?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop27" value="1">
                            <label for="vop27">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop28" value="0.5">
                            <label for="vop28">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop29" value="0">
                            <label for="vop29">Нет</label>
                        </div>

                    </div>




                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Была ли эта информация актуальна?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop30" value="1">
                            <label for="vop30">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop31" value="0.5">
                            <label for="vop31">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop32" value="0">
                            <label for="vop32">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Обратились бы Вы к сайту еще раз для получения какой-либо информации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop33" value="1">
                            <label for="vop33">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop34" value="0.5">
                            <label for="vop34">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop35" value="0">
                            <label for="vop35">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удобно ли ориентироваться на сайте в поисках нужной информации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop36" value="1">
                            <label for="vop36">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop37" value="0.5">
                            <label for="vop37">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop38" value="0">
                            <label for="vop38">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Много ли лишней информации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop39" value="1">
                            <label for="vop39">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop40" value="0.5">
                            <label for="vop40">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop41" value="0">
                            <label for="vop41">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Ваша форма обучения?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop42" value="0.5">
                            <label for="vop42">Очная</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop43" value="0.5">
                            <label for="vop43">Заочная</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop44" value="0.5">
                            <label for="vop44">Очно-Заочная</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                             Адаптировались ли вы к новым условиям дистанционного обучения?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop45" value="1">
                            <label for="vop45">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop46" value="0.5">
                            <label for="vop46">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop47" value="0">
                            <label for="vop47">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Происходит ли своевременное информирование вас об изменениях в процессе дистанционного обучения
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop48" value="1">
                            <label for="vop48">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop49" value="0.5">
                            <label for="vop49">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop50" value="0">
                            <label for="vop50">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удобно ли вам обучаться в дистанционном режиме?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop51" value="1">
                            <label for="vop51">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop52" value="0.5">
                            <label for="vop52">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop53" value="0">
                            <label for="vop53">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли вы процессом обучения в дистанционном режиме?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop54" value="1">
                            <label for="vop54">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop55" value="0.5">
                            <label for="vop55">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop56" value="0">
                            <label for="vop56">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удобно ли вам было пользоваться Электронной образовательной средой?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop57" value="1">
                            <label for="vop57">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop58" value="0.5">
                            <label for="vop58">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop59" value="0">
                            <label for="vop59">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Из каких образовательных порталов и источников вы получаете задания по дисциплинам?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop60" value="0.5">
                            <label for="vop60">из ЭОС</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop61" value="0.5">
                            <label for="vop61">из социальных сетей</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop62" value="0.5">
                            <label for="vop62">из звонков одногрупников</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            В какие образовательное порталы и источники вы отправляете выполненные работы?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop63" value="0.5">
                            <label for="vop63">ЭОС</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop64" value="0.5">
                            <label for="vop64">Мессенджеры</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop65" value="0.5">
                            <label for="vop65">MMS</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Как вы оцениваете работу преподавательского состава в рамках дист. Обучения?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop66" value="1">
                            <label for="vop66">Хорошо</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop67" value="0.5">
                            <label for="vop67">Нормально</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop68" value="0">
                            <label for="vop68">Неудовлетворительно</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            С какими трудностями вы столкнулись в процессе дистанционного обучения?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop69" value="0.5">
                            <label for="vop69">Нестабильный интернет</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop70" value="0.5">
                            <label for="vop70">Нехватка мощностей оборудования</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop71" value="0.5">
                            <label for="vop71">Плохое качество дист. обучения</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Какие преимущества электронного обучения на данный момент наиболее важны для Вас?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop72" value="0.5">
                            <label for="vop72">Учеба на дому</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop73" value="0.5">
                            <label for="vop73">низкое контактирование с людьми</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop74" value="0.5">
                            <label for="vop74">Можно пропустить занятия</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Пользовались ли Вы какими-либо дистанционными способами взаимодействия с образовательной организацией (телефон, электронная почта, электронный сервис (форма для подачи электронного обращения

                            (жалобы, предложения), получение консультации по оказываемым образовательным услугам), раздел «Часто задаваемые вопросы», анкета для опроса граждан на сайте и прочие)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop75" value="1">
                            <label for="vop75">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop76" value="0.5">
                            <label for="vop76">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop77" value="0">
                            <label for="vop77">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Пользовались ли Вы в образовательной организации какими-либо образовательными услугами с использованием электронного обучения и дистанционных образовательных технологий?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop78" value="1">
                            <label for="vop78">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop79" value="0.5">
                            <label for="vop79">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop80" value="0">
                            <label for="vop80">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы доступностью информации на стендах?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop81" value="1">
                            <label for="vop81">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop82" value="0.5">
                            <label for="vop82">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop83" value="0">
                            <label for="vop83">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы полнотой информации на стендах?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop83" value="1">
                            <label for="vop83">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop84" value="0.5">
                            <label for="vop84">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop85" value="0">
                            <label for="vop85">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы открытостью информации на стендах?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop86" value="1">
                            <label for="vop86">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop87" value="0.5">
                            <label for="vop87">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop88" value="0">
                            <label for="vop88">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Пользовались ли Вы официальным сайтом образовательной организации, чтобы получить информацию о ее деятельности?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop89" value="1">
                            <label for="vop89">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop90" value="0.5">
                            <label for="vop90">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop91" value="0">
                            <label for="vop91">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы доступностью информации на сайтах?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop92" value="1">
                            <label for="vop92">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop93" value="0.5">
                            <label for="vop93">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop94" value="0">
                            <label for="vop94">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы полнотой информации на сайтах?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop95" value="1">
                            <label for="vop95">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop96" value="0.5">
                            <label for="vop96">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop97" value="0">
                            <label for="vop97">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы открытостью информации на сайтах?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop98" value="1">
                            <label for="vop98">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop99" value="0.5">
                            <label for="vop99">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop100" value="0">
                            <label for="vop100">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы комфортностью условий предоставления образовательных услуг в организации (обеспечение в организации комфортных условий, в которых осуществляется образовательная деятельность: наличие зоны отдыха (ожидания); наличие и понятность навигации внутри организации; наличие и доступность питьевой воды; наличие и доступность санитарно-гигиенических помещений; санитарное состояние помещений организации)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop101" value="1">
                            <label for="vop101">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop102" value="0.5">
                            <label for="vop102">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop103" value="0">
                            <label for="vop103">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы зоной отдыха (ожидания)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop104" value="1">
                            <label for="vop104">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop105" value="0.5">
                            <label for="vop105">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop106" value="0">
                            <label for="vop106">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием и доступностью питьевой воды?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop107" value="1">
                            <label for="vop107">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop108" value="0.5">
                            <label for="vop108">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop109" value="0">
                            <label for="vop109">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием и доступностью санитарно-гигиенических помещений?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop110" value="1">
                            <label for="vop110">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop111" value="0.5">
                            <label for="vop111">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop112" value="0">
                            <label for="vop112">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы транспортной доступностью (возможностью доехать до организации на общественном транспорте, наличие парковки)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop113" value="1">
                            <label for="vop113">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop114" value="0.5">
                            <label for="vop114">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop115" value="0">
                            <label for="vop115">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы доброжелательностью и вежливостью работников образовательной организации, обеспечивающих первичный контакт с посетителями и информирование об услугах при непосредственном обращении в организацию (работники приемной комиссии, секретариата, учебной части)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop116" value="1">
                            <label for="vop116">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop117" value="0.5">
                            <label for="vop117">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop118" value="0">
                            <label for="vop118">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы доброжелательностью и вежливостью работников образовательной организации, обеспечивающих непосредственное оказание образовательной услуги при обращении в организацию (преподаватели, воспитатели, тренеры, инструкторы)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop119" value="1">
                            <label for="vop119">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop120" value="0.5">
                            <label for="vop120">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop121" value="0">
                            <label for="vop121">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы оборудованием входных групп пандусами (подъемными платформами);
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop122" value="1">
                            <label for="vop122">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop123" value="0.5">
                            <label for="vop123">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop124" value="0">
                            <label for="vop124">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием выделенных стоянок для автотранспортных средств инвалидов;
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop125" value="1">
                            <label for="vop125">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop126" value="0.5">
                            <label for="vop126">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop127" value="0">
                            <label for="vop127">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием адаптированных лифтов, поручней, расширенных дверных проемов;
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop128" value="1">
                            <label for="vop128">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop129" value="0.5">
                            <label for="vop129">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop130" value="0">
                            <label for="vop130">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием сменных кресел-колясок;
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop131" value="1">
                            <label for="vop131">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop132" value="0.5">
                            <label for="vop132">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop133" value="0">
                            <label for="vop1333">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием специально оборудованных санитарно-гигиенических помещений в организации
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop134" value="1">
                            <label for="vop134">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop135" value="0.5">
                            <label for="vop135">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop136" value="0">
                            <label for="vop136">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы дублированием для инвалидов по слуху и зрению звуковой и зрительной информации
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop137" value="1">
                            <label for="vop137">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop138" value="0.5">
                            <label for="vop138">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop139" value="0">
                            <label for="vop139">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы дублированием надписей, знаков и иной текстовой и графической информации знаками, выполненными рельефно-точечным шрифтом Брайля
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop140" value="1">
                            <label for="vop140">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop141" value="0.5">
                            <label for="vop141">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop142" value="0">
                            <label for="vop142">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы дублированием надписей, знаков и иной текстовой и графической информации знаками, выполненными рельефно-точечным шрифтом Брайля;
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop143" value="1">
                            <label for="vop143">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop144" value="0.5">
                            <label for="vop144">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop145" value="0">
                            <label for="vop145">Нет</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием альтернативной версии сайта организации для инвалидов по зрению
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop146" value="1">
                            <label for="vop146">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop147" value="0.5">
                            <label for="vop147">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop148" value="0">
                            <label for="vop148">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы помощью, оказываемой работниками организации, прошедшими необходимое обучение (инструктирование) по сопровождению инвалидов в помещениях организации и на прилегающей территории
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop149" value="1">
                            <label for="vop149">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop150" value="0.5">
                            <label for="vop150">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop151" value="0">
                            <label for="vop151">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы наличием возможности предоставления образовательных услуг в дистанционном режиме или на дому
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop152" value="1">
                            <label for="vop152">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop153" value="0.5">
                            <label for="vop153">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop154" value="0">
                            <label for="vop154">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Готовы ли Вы рекомендовать данную образовательную организацию родственникам и знакомым (или могли бы Вы ее рекомендовать, если бы была возможность выбора образовательной организации)?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop155" value="1">
                            <label for="vop155">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop156" value="0.5">
                            <label for="vop156">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop157" value="0">
                            <label for="vop157">Нет</label>
                        </div>

                    </div>



                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Удовлетворены ли Вы в целом условиями оказания образовательных услуг в образовательной организации?
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop158" value="1">
                            <label for="vop158">Да</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop159" value="0.5">
                            <label for="vop159">Частично</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop160" value="0">
                            <label for="vop160">Нет</label>
                        </div>

                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Ваши предложения по улучшению условий оказания образовательных услуг в данной образовательной организации:
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop161" value="0.5">
                            <label for="vop161">больше перерывов</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop162" value="0.5">
                            <label for="vop162">Снизить длительность лекций</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop163" value="0.5">
                            <label for="vop163">Бесплатный обед</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Ваш пол
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop164" value="0">
                            <label for="vop164">М</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop165" value="0">
                            <label for="vop165">Ж</label>
                        </div>
                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Ваш возраст (укажите сколько Вам полных лет):
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <input class="mdl-textfield__input m-2" type="text" id="166" placeholder="Ваш возраст">
                    </div>


                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Укажите направление подготовки (специальность), по которому(ой) Вы обучаетесь в образовательной организации:
                        </span>
                    </li>


                    <div class=" d-flex mb-5 justify-content-around">
                        <div class="answ-1">
                            <input type="radio" id="vop167" value="0">
                            <label for="vop167">Бакалавриат</label>
                        </div>
                        <div class="answ-2">
                            <input type="radio" id="vop168" value="0">
                            <label for="vop168">Магистратура</label>
                        </div>
                        <div class="answ-3">
                            <input type="radio" id="vop169" value="0">
                            <label for="vop169">Аспирантура</label>
                        </div>

                    </div>

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Укажите номер Вашего студенческого билета/удостоверения аспиранта/название группы/докторанта или слушателя программ дополнительного профессионального образования:
                        </span>
                    </li>

                    <input class="mdl-textfield__input m-2" type="text" id="170" placeholder="Ваше номер">

                    <li class="mdl-list__item m-5">
                        <span class="mdl-list__item-primary-content text-center">
                            Укажите Ваш адрес электронной почты
                        </span>
                    </li>

                    <input placeholder="email" class="mdl-textfield__input m-2" type="email" id="171" pattern="[a-z0-9._%+-]+\@@[a-z0-9.-]+\.[a-z]{2, 4}$">

                </ul>

            </div>
        </div>
    </div>
</form>
