
@{
    ViewData["Title"] = "Index";
}

<div class="container m-5">
    <div class="demo-card-square-anketa mdl-card mdl-shadow--2dp card-own-general">
        <div class="mdl-grid">
            <div class="col-12">
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            При посещении образовательной организации обращались ли Вы к информации о ее деятельности, размещенной на информационных стендах в помещениях организации?
                        </span>
                        <input type="radio" id="bulg" name="radio-group" checked>
                        <label for="bulg">Бухгалтерия</label>
                        <input type="radio" id="bulg" name="radio-group" checked>
                        <label for="bulg">Бухгалтерия</label>
                        <input type="radio" id="bulg" name="radio-group" checked>
                        <label for="bulg">Бухгалтерия</label>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            Была ли информация на стендах полезной?
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            Использовали ли Вы эту информацию в дальнейшем?
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
