
@{
    ViewData["Title"] = "feedBack";
}

<h1 class="display-3">Обратная связь</h1>


<form method="post" asp-action="Create">
    <div class="" >

        <input class="mdl-textfield__input" type="text" id="sample1" placeholder="Ваше имя">
        @*<label class="mdl-textfield__label" for="sample1">Ваше имя</label>*@

        <input placeholder="Номер телефона" class="mdl-textfield__input" type="text" pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}" id="sample2">
        @*<label class="mdl-textfield__label" for="sample2">Ваш номер телефона</label>*@
        <span class="mdl-textfield__error">Некорректный ввод</span>

        <input placeholder="email" class="mdl-textfield__input" type="email" id="email" pattern="[a-z0-9._%+-]+\@@[a-z0-9.-]+\.[a-z]{2, 4}$">
        @*<label class="mdl-textfield__label" for="email">Электронная почта</label>*@
        <span class="mdl-textfield__error">Некорректный ввод</span>

        <textarea placeholder="Оставьте сообщение" class="mdl-textfield__input" type="text" rows="3" id="message_box"></textarea>
        @*<label class="mdl-textfield__label" for="message_box">Оставьте ваше сообщение</label>*@

    </div>
</form>

