
@{
    ViewData["Title"] = "Submit";
}

<div class="demo-card-square-success mdl-card mdl-shadow--2d ">
  
   <img  src="~/img/success.svg"/>
    <p class="mdl-card__supporting-text text-center">Успешная отправка сообщения!</p>

</div>
