
@{
    ViewData["Title"] = "Submit";
}

<div class="demo-card-square-success mdl-card mdl-shadow--2d animate__animated animate__fadeInUp animate__delay-2s">
  
   <img  src="~/img/success.svg"/>
    <p class="mdl-card__supporting-text text-center w-100">Успешная отправка сообщения!</p>

</div>

